<!DOCTYPE html>
<html>
    <head>
        <title>REAL JUD</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-3">
            <h1>REAL JUD CHAT</h1>
            <form id="name-form" onsubmit="goToChatRooms(event)">
                <input type="text" class="form-control" id="usernameInput" placeholder="Enter your name" required autocomplete="off"/>
                <button class="btn btn-outline-primary mt-2">Enter</button>
            </form>

            <div id="chat-rooms" style="display:none;">
                <h2>Welcome, <span id="username-display"></span></h2>
                <form id="create-room-form" onsubmit="createRoom(event)">
                    <input type="text" class="form-control" id="roomNameInput" placeholder="Create a room" required autocomplete="off"/>
                    <button class="btn btn-outline-primary mt-2">Create Room</button>
                </form>
                <div id="rooms-list" class="mt-4"></div>
            </div>
        </div>

        <script>
            var username;

            function goToChatRooms(event) {
                event.preventDefault();
                username = document.getElementById("usernameInput").value;
                document.querySelector("#username-display").textContent = username;
                document.getElementById("name-form").style.display = "none";
                document.getElementById("chat-rooms").style.display = "block";
                loadAvailableRooms();
            }

            function createRoom(event) {
                event.preventDefault();
                var roomName = document.getElementById("roomNameInput").value;
                window.location.href = `/chat/${roomName}?username=${username}`;
            }

            function loadAvailableRooms() {
                fetch('/rooms')
                    .then(response => response.json())
                    .then(rooms => {
                        var roomsList = document.getElementById('rooms-list');
                        roomsList.innerHTML = "<h3>Available Rooms:</h3>";
                        rooms.forEach(room => {
                            var roomLink = document.createElement('a');
                            roomLink.href = `/chat/${room}?username=${username}`;
                            roomLink.textContent = room;
                            roomLink.classList.add("btn", "btn-outline-secondary", "mt-2");
                            roomsList.appendChild(roomLink);
                        });
                    });
            }
        </script>
    </body>
</html>
